.dispatch-grid {
    table {
        th {
            vertical-align: middle;
        }

        td {
            vertical-align: middle;
        }

        .form-check {
            margin-bottom: 0;
        }
    }
}
